<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
  "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>name</key>
  <string>Lambda</string>
  <key>uuid</key>
  <string>7B75FD99-661C-4D8D-B8F4-7F1E2B7856C4</string>
</dict>
</plist>
